/*.product-card :last-child{*/
/*    margin-bottom: 80px;*/
/*}*/

.counter-input .form-control {
    /* your style */
}
/* to style buttons use */
.counter-input .input-group-addon {
    /* your style */
    width: 50%;
}
.input-group.counter-input{
    width: 50% !important;
}

a.link{
    text-decoration: none;
    color:black;
}

a.app-link{
    text-decoration: none !important;
    color:black !important;
}
